/* Menu bar & elements styling */

.menu-bar {
    -fx-base: #333333;
    -fx-border-radius: 0%;
    -fx-background-radius: 0%;
    -fx-border-width: 0 0 0 0;
}

.menu {
    -fx-font: 16px "Consolas";
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.menu .label {
    -fx-text-fill: silver;
}

.menu .label:hover {
    -fx-text-fill: white;
}

.menu-item:focused .label {
    -fx-text-fill: black;
}